:root{
    --yellow: #FAE100;
    --horizontal-space: 25px;
    /* 반복해서 나오지 않도록 border변수에 넣는게 좋음 */
    /* 같은 코드가 계속 반복된다면 변수로 만드는게 좋음 */
    --main-border:1px solid rgba(0,0,0,0.2);
    --main-color:rgba(0,0,0,0.5);
}