#no-mobile{
    position: absolute;
    z-index:99;
    /* 화면의 높이만큼 */
    height: 100vh;
    background-color: var(--yellow);
   /* 화면의 너비만큼 */
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:32px;
    top:0;
}
/* 645px보다 크면 display:none */
@media screen and (max-width:645px){
 #no-mobile{
    display:none;
 }
}