/*모든 컬럼을 33%의 with로 갖게 하기 */


.status-bar__column{
    width: 33%;
}

.status-bar{
    /* 스크롤을 내려도 위치 고정  */
    position: fixed;
    top:0;
    width: 100%;
    /* 내가 padding을 줘도 신경쓰지마 내 box사이즈를 늘리지 말아줘 */
    box-sizing: border-box;

    /* header를 상단에 놓기위해서 */
    display: flex;
    /* flex축에 따라 각 span을 떨어뜨리기위해서 */
    /*justify-content: space-between;*/

    /* 컨테이너 하나를 중심 에 넣는 csshack(기술) */
    justify-content: center;
    padding: 5px 3px;

}

/* 아이콘과 span사이에 공간을 주기 위해서 */
.status-bar__column:first-child span{
    margin-right: 5px;
}

/* 두번째 컬럼 중앙에 위치하게 하기 */
.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}
/* 3번째 컬럼 오른쪽 끝으로 위치하게 하기 */
.status-bar__column:last-child{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

/* 배터리 아이콘에 공간 주기 */
.status-bar__column .fa-bettery-full{
    margin: 0px 5px;
}